
@{ <div class="text-center">
        <h1 style="background-color:aquaa;" class="display-4">Yonetim sayfası</h1>
    </div>
    <p>@Html.ActionLink("Yonetimlistele", "listele")</p>
    <p>@Html.ActionLink("YonetimYeni", "Yeni")</p>
    <body style="background-color: aqua;">
        <img src="~/image/WebFinalYönetimlogo.png" alt="deneme logosu" width="100%" />

    </body>
}