
<div class="text-center">
    <h1 style="background-color:aqua;" class="display-4">Hoşgeldin</h1>
</div>

<body style="background-color: aqua;">
    <center>
        <img src="~/image/WebFinallogo.png" alt="deneme logosu" width="100%" height="50%" />
    </center>
</body>
