@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="background-color:aqua;" class="display-4">Hoşgeldin</h1>
</div>

<body style="background-color: aqua;">
<center>
        
</center>
</body>



