@{
    <div class="text-center">
        <h1 style="background-color:aqua;" class="display-4">Ogrenci sayfası</h1>
    </div>
    <p>@Html.ActionLink("Ogrencilistele", "listele")</p>
    <p>@Html.ActionLink("OgrenciYeni", "Yeni")</p>
    <body style="background-color: aqua;">
            <img src="~/image/WebFinalÖgencilogo.png" alt="deneme logosu" width="100%" />

    </body>
}